<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/ext-all.css"/>
    <!-- LIBS -->
    <script type="text/javascript" src="../adapter/ext/ext-base.js"></script>
    <!-- ENDLIBS -->
    <script type="text/javascript" src="../ext-all.js"></script>
    <script type="text/javascript">
        Ext.onReady(function(){

            var viewport = new Ext.Viewport({
                layout:'anchor',
                items:[{
                    title: 'panel 1',
                    html: 'panel 1',
                    anchor: '-100 50%'
                },{
                    title: 'panel 2',
                    html: 'panel 2',
                    anchor: '-200 40%'
                }]
            });

        });

    </script>

</head>
<body>
<div id="form" style="margin:20px;"></div>


</body>
</html>
