<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk">
        <title>08.layout</title>
        <link rel="stylesheet" type="text/css" href="../../resources/css/ext-all.css" />
        <script type="text/javascript" src="../../adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="../../ext-all.js"></script>
        <script type="text/javascript" src="localXHR.js"></script>
        <script type="text/javascript">
Ext.onReady(function(){

    var viewport = new Ext.Viewport({
        layout:'border',
        items:[{
            region: 'west',
            width: 200,
            layout: 'accordion',
            layoutConfig: {
                titleCollapse: true,
                animate: true,
                activeOnTop: false
            },
            items: [{
                title: 'First Section',
                html: 'First Section'
            },{
                title: 'Second Section',
                html: 'Second Section'
            },{
                title: 'Third Section',
                html: 'Third Section'
            }]
        },{
            region: 'center',
            split: true,
            border: true
        }]
    });

});
        </script>
    </head>
    <body>
        <script type="text/javascript" src="../shared/examples.js"></script>
    </body>
</html>
