<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>08.layout</title>
        <link rel="stylesheet" type="text/css" href="../../resources/css/ext-all.css" />
        <script type="text/javascript" src="../../adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="../../ext-all-debug.js"></script>
        <script type="text/javascript">
Ext.onReady(function(){
    var viewport = new Ext.Viewport({
        layout: 'border',
        items: [
            {region:'north',html:'north',height:120,autoHeight:true},
            {region:'south',html:'south',height:30,autoHeight:true},
            {region:'east',html:'east',width:40,autoHeight:true},
            {region:'west',html:'west',width:100,autoHeight:true},
            {region:'center',html:'center',autoHeight:true}
        ]
    });
});
        </script>
    </head>
    <body>
        <script type="text/javascript" src="../shared/examples.js"></script>
    </body>
</html>
