<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk">
    <title>08.layout</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ext-all.css"/>
    <script type="text/javascript" src="../../adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="../../ext-all.js"></script>
    <script type="text/javascript" src="localXHR.js"></script>
    <style type="text/css">
        * {
            font-size: 12px;
        }
    </style>
    <script type="text/javascript">
        Ext.onReady(function () {
            var msgHandler = function () {
                Ext.MessageBox.alert('Congratulation!', 'Congratulation');
            };

            var navHandler = function (direction) {

                var wizard = Ext.getCmp('wizard').layout;
                var prev = Ext.getCmp('move-prev');
                var next = Ext.getCmp('move-next');
                var activeId = wizard.activeItem.id;

                if (activeId == 'card-0') {
                    if (direction == 1) {
                        wizard.setActiveItem(1);
                        prev.setDisabled(false);
                    }
                } else if (activeId == 'card-1') {
                    if (direction == -1) {
                        wizard.setActiveItem(0);
                        prev.setDisabled(true);
                    } else {
                        wizard.setActiveItem(2);
                        // next.setDisabled(true);
                        next.setText('submit');
                        next.addListener('click', msgHandler);
                        for(let i = 0;i<4;i++){
                            Ext.getCmp('card-2-q50').items.get(i).setValue(Ext.getCmp('card-0').items.get(i).checked);
                            Ext.getCmp('card-2-q1').items.get(i).setValue(Ext.getCmp('card-1').items.get(i).checked);
                        }
                        // Ext.getCmp('card-2-q50').items.get(0).setValue(Ext.getCmp('card-0').items.get(0).checked);
                        // Ext.getCmp('card-2-q50').items.get(1).setValue(Ext.getCmp('card-0').items.get(1).checked);
                        // Ext.getCmp('card-2-q50').items.get(2).setValue(Ext.getCmp('card-0').items.get(2).checked);
                        // Ext.getCmp('card-2-q50').items.get(3).setValue(Ext.getCmp('card-0').items.get(3).checked);

                        // Ext.getCmp('card-2-q1').items.get(0).setValue(Ext.getCmp('card-1').items.get(0).checked);
                        // Ext.getCmp('card-2-q1').items.get(1).setValue(Ext.getCmp('card-1').items.get(1).checked);
                        // Ext.getCmp('card-2-q1').items.get(2).setValue(Ext.getCmp('card-1').items.get(2).checked);
                        // Ext.getCmp('card-2-q1').items.get(3).setValue(Ext.getCmp('card-1').items.get(3).checked);

                    }
                } else if (activeId == 'card-2') {
                    if (direction == -1) {
                        wizard.setActiveItem(1);
                        next.setDisabled(false);
                        next.setText('下一步');
                        next.removeListener('click', msgHandler);
                    }
                }
            };

            var viewport = new Ext.Viewport({
                    layout: 'fit',
                    items: [{
                        region: 'west',
                        id: 'wizard',
                        width: 200,
                        title: '某某向导',
                        layout: 'card',
                        activeItem: 0,
                        bodyStyle: 'padding:15px',
                        defaults: {
                            border: false
                        },
                        bbar: [{
                            id: 'move-prev',
                            text: '上一步',
                            handler: navHandler.createDelegate(this, [-1]),
                            disabled: true
                        }, '->', {
                            id: 'move-next',
                            text: '下一步',
                            handler: navHandler.createDelegate(this, [1])
                        }],
                        items: [{
                            id: 'card-0',
                            xtype: 'fieldset',
                            layout: 'vbox',
                            defaultType: 'radio',
                            html: '<h1>Q1: 番茄酱属于以下哪种垃圾？（单选）</h1>',
                            items: [
                                {boxLabel: '湿垃圾', name: 'gar', inputValue: '1'},
                                {boxLabel: '干垃圾', name: 'gar', inputValue: '2'},
                                {boxLabel: '有害垃圾', name: 'gar', inputValue: '3'},
                                {boxLabel: '可回收物', name: 'gar', inputValue: '4'},
                            ],
                        }, {
                            id: 'card-1',
                            xtype: 'fieldset',
                            layout: 'vbox',
                            defaultType: 'checkbox',
                            html: '<h1>Q50: 王大叔出门遛狗后，哪些是正确处理狗粑粑的方法？（多选）</h1>',
                            items: [
                                {boxLabel: '把粑粑用废报纸包好带回家扔掉',},
                                {boxLabel: '受污染的报纸按有害垃圾处理'},
                                {boxLabel: '没受污染的报纸按可回收垃圾处理'},
                                {boxLabel: '受污染的报纸浸水受当湿垃圾处理'},
                            ],

                        }, {
                            id: 'card-2',
                            xtype:'form',
                            items: [{
                                title: 'Q50: 王大叔出门遛狗后，哪些是正确处理狗粑粑的方法？（多选）',
                                xtype: 'fieldset',
                                layout: 'form',
                                id: 'card-2-q1',
                                autoHeight: true,
                                defaultType: 'checkbox',

                                items: [
                                    {boxLabel: '把粑粑用废报纸包好带回家扔掉',disabled:true},
                                    {boxLabel: '受污染的报纸按有害垃圾处理',disabled:true},
                                    {boxLabel: '没受污染的报纸按可回收垃圾处理',disabled:true},
                                    {boxLabel: '受污染的报纸浸水受当湿垃圾处理',disabled:true},
                                ]
                            }, {

                                xtype: 'fieldset',
                                title: 'Q1: 番茄酱属于以下哪种垃圾？（单选）',
                                layout: 'form',
                                id: 'card-2-q50',
                                autoHeight: true,
                                defaultType: 'radio',
                                items: [
                                    {boxLabel: '湿垃圾', name: 'gar', inputValue: '1',disabled:true},
                                    {boxLabel: '干垃圾', name: 'gar', inputValue: '2',disabled:true},
                                    {boxLabel: '有害垃圾', name: 'gar', inputValue: '3',disabled:true},
                                    {boxLabel: '可回收物', name: 'gar', inputValue: '4',disabled:true},
                                ],
                            }]

                        }
                        ]
                    },
                        {
                            region: 'center',
                            split:
                                true,
                            border:
                                true
                        }
                    ]
                })
            ;
        });
    </script>
</head>
<body>
<script type="text/javascript" src="../shared/examples.js"></script>
</body>
</html>
